html {
  border: 15px solid #99cdff;
  border-radius: 5px;
}

body {
  text-align: center;
  background: #cce6ff;
  font-family: 'Lato', sans-serif;
}

h1 {
  margin-top: 2em;
}

input {
  vertical-align: middle;
  font-size: 15px;
}

.address-input {
  background-color: #f2f9ff;
  border: 1px solid white;
  border-radius: 5px;
  margin: 0 0.1em;
  text-align: center;
}

#street-address {
  width: 15em;
}

#city {
  width: 10em;
}

#state {
  width: 5em;
}

#zip {
  width: 5em;
}

#button {
  font-size: 1em;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #f2f9ff inset;
}

#map {
  height: 600px;
  width: 800px;
  margin: 1em auto;
  border-radius: 5px;
  border: 1px solid white;
}

h2 {
  padding-bottom: 0.5em;
}

form {
  padding-bottom: 2em;
}

.officials {
  margin: 1em auto;
}

tbody {
  background: #f2f9ff;
  color: black;
}

table {
  border-collapse: collapse;
  border: 1px solid white;
}

.blank {
  background: #cce6ff;
  border: 1px solid #cce6ff;
}

p {
  padding: 1em;
}

td {
  padding: 0.5em;
  vertical-align: top;
}

.mid {
  vertical-align: middle;
}
